.authFormTemplate {
  max-width: 300px;
  margin: 0 auto;
}

.title {
  margin-bottom: 29px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}

.content {
}

.footer {
  text-align: center;
}
