button {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #aaaaaa;
}

.list-title {
  display: flex;
  justify-content: space-between;
  height: 72px;
  padding: 0 24px;
  align-items: center;

  font-size: 20px;
  line-height: 24px;
  background: #f6f6f6;
  border-bottom: 1px solid #aaaaaa;
}

.list {
  display: flex;
  flex-direction: column;

  & > * {
    padding: 38px 26px;
    border-top: 1px solid #aaaaaa;
  }
}
