@import "@scss/no-style";
@import "@scss/colors";

.button {
  @include button-no-style;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  // line-height: 21px;
  text-align: center;
  padding: 12px 22px;
  letter-spacing: 0.5px;

  background-color: white;
  color: #333333;
}

.primary {
  background-color: #2AC1BC !important;
  color: white;
}

.block {
  display: block;
  width: 100%;
}

.outline {
  border: 1px solid black;
  border-radius: 4px;
}

.sm {
  padding: 4px 6px;
  font-size: 14px;
}

.md {
  padding: 6px 0;
}

.lg {}

.xl {}

.xxl {}
