.loading_spinner_box {
  margin-left: 3px;

  .loading_spinner {
    border-radius: 50%;

    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.small {
  width: 24px;
  height: 24px;
  border: 3px solid white;
  border-top: 3px solid var(--mint-color);
}

.medium {
  width: 48px;
  height: 48px;
  border: 6px solid white;
  border-top: 6px solid var(--mint-color);
}

.large {
  width: 72px;
  height: 72px;
  border: 9px solid white;
  border-top: 9px solid var(--mint-color);
}
