.loading_spinner_box {
  margin-left: 3px;

  .loading_spinner {
    width: 24px;
    height: 24px;
    border: 3px solid white;
    border-top: 3px solid var(--mint-color);
    border-radius: 50%;

    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
