.list-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 400px;
}
