@import "@scss/colors";

.myPage {
  max-width: 300px;
  margin: 0 auto;
}

.title {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}

.email {
  font-size: 18px;
  color: $brown900;
  font-weight: 600;
}

.nameEditForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .input {
    margin-right: 12px;
  }
  .button {
    place-self: stretch;
  }
}