.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 40px 25px;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.5px;

  color: var(--white-color-001);
  background: var(--mint-color);
  border: 1px soild var(--white-color-001);
}

.item-container {
  display: flex;
  border: 1px solid #aaaaaa;
  padding: 40px 25px;

  span {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.5px;

    color: #888888;
  }

  img {
    width: 142px;
    height: 142px;
  }
}
