.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px 25px;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.5px;

  color: var(--white-color-001);
  background: var(--mint-color);
  border: 1px soild var(--white-color-001);
}

.item-container {
  width: 100%;
  height: 220px;

  display: flex;
  border: 1px solid #aaaaaa;
  padding: 40px 25px;

  gap: 33px;

  img {
    width: 142px;
    height: 142px;
  }
}

.item-information-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & > p {
    display: -webkit-box;

    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }

  span {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.5px;

    color: #888888;
  }
}
