@import 'fonts.scss';

:root {
  --primary-color: #333333;
  --mint-color: #04c092;
  --mint-color-hover: #439a97;
  --white-color: #ffffff;
  --white-color-001: #f2f2f2;
  --white-color-002: #f6f1f1;
}

body,
html {
  font-family: 'SUIT-Regular', ‘Roboto’, -apple-system, BlinkMacSystemFont, ‘Segoe UI’, ‘Oxygen’, ‘Ubuntu’, ‘Cantarell’,
    ‘Fira Sans’, ‘Droid Sans’, ‘Helvetica Neue’, sans-serif;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: 'SUIT-Regular', system-ui;

  &::placeholder {
    font-family: 'SUIT-Regular', system-ui;
  }
}

button {
  font-family: 'SUIT-Regular', system-ui;
  background: none;
  border: none;
  cursor: pointer;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-style: normal;
  min-width: 690px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, ‘Courier New’, monospace;
}

#root {
  margin: 0 auto;
}
