.payment-container {
  display: flex;
  justify-content: end;

  & > div {
    width: 560px;
  }
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 400px;
}
