.main-view {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;

  column-gap: 32px;
}

@media screen and (max-width: 1024px) {
  .main-view {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 32px;
  }
}

.main-view-blank {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  align-items: center;
  width: 100%;
  justify-content: center;

  & > p {
    font-weight: 700;
    font-size: 28px;
  }
}
