.modalHeader {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 3px solid #cccccc;
}

.couponItem {
  border-bottom: 1px solid #dddddd;
}

.couponItem {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 25px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.couponBox {
  max-height: 300px;
  overflow-y: scroll;
  height: 240px;
}

.scroll::-webkit-scrollbar {
  display: none;
}
.couponData {
  display: flex;
  flex-direction: column;
}

.couponItem:hover {
  background-color: #eeeeee;
}

.couponItem h4 {
  font-size: 24px;
  padding-bottom: 10px;
}

.minimumPrice {
  font-size: 12px;
}

.resultBox {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 20px 20px;
}

.priceBox {
  display: flex;
  justify-content: space-between;
}

.priceResultDiscount {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  font-size: 15px;
  font-weight: 500;
}

.priceResultBox {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  font-size: 18px;
  font-weight: 600;
}

.resultOrderButton {
  padding: 10px;
  color: #ffffff;
  margin-top: 20px;
  font-size: 20px;
  background-color: #04c09e;
  height: fit-content;
  width: 100%;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

.resultOrderButton:hover {
  background-color: #05b696;
}
