@import "@scss/responsive";
@import "@scss/no-style";
@import "@scss/colors";

.header {
  background-color: $green800;
  margin-bottom: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 15px 0;
}

.siteLogo {
  @include a-no-style;
  overflow: hidden;
  display: flex;
  align-items: center;

  .logo {
    width: 54px;
    height: 44px;
  }

  .title {
    padding-left: 15px;
    font-weight: 900;
    font-size: 40px;
    height: 48px;
    line-height: 53px;
    text-align: center;
    color: white;
  }
}

.menu {
  display: inline-flex;

  ul {
    @include ul-no-style;
    display: flex;
    align-items: center;

    li {
      padding: 0 25px;
      a {
        @include a-no-style;
      }
      button {
        @include button-no-style;
      }
      a,
      button {
        display: block;
        padding: 10px 0;
        font-size: 20px;
        line-height: 20px;
        color: white;

        &:hover {
          color: rgb(220, 220, 220);
        }
      }
    }
  }

  & > .hello {
    height: 400px;
    background-color: yellow;
  }
}

@include media("<=md") {
  .siteLogo {
    .logo {
      width: 50px * 0.8;
      height: 44px * 0.8;
    }
    .title {
      font-size: 32px;
    }
  }
}

@include media("<=sm") {
  .siteLogo {
    .logo {
      width: 50px * 0.8;
      height: 44px * 0.8;
    }
    .title {
      font-size: 28px;
    }
  }
}
