.mainDiv {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.orderSuccessSVG {
  width: 20vh;
  opacity: 0;
  animation: view-success-img 1s forwards;
}

@keyframes view-success-img {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.orderResultButton {
  background-color: #eeeeee;
  cursor: pointer;
  width: 20vh;
  padding: 15px;
  font-size: 15px;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

.orderResultButton:hover {
  background-color: #cccccc;
}

.mainPageButton {
  background-color: #04c09e;
  cursor: pointer;
  color: #ffffff;
  width: 20vh;
  padding: 15px;
  font-size: 15px;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

.mainPageButton:hover {
  background-color: #05b696;
}

.buttonBox {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  animation: view-success-button 1s forwards;
  opacity: 0;
  animation-delay: 0.5s;
}
@keyframes view-success-button {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
