.CouponItem {
  color: #ffffff;
  background-image: linear-gradient(45deg, #333333, #999999 45%, #888888 66%, #222222);
  background-size: 100% 300%;
  background-position-y: 0%;
  width: 70%;
  padding: 15px;
  border-radius: 10px;
  /* position: fixed; */
  animation: coupon-twinkle 2s ease-in infinite alternate;
}

.CouponBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.getCouponButton {
  background-color: #31d4b9;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
}

.usedCouponText {
  background-color: #888888;
  color: #ffffff;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
}

@keyframes coupon-twinkle {
  from {
    background-position-y: 0%;
  }

  to {
    background-position-y: 100%;
  }
}

.CouponItem h1 {
  font-size: 48px;
}
