.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100vh;
}

.message {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}
