.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 236px;
  cursor: pointer;

  &:hover {
    .item-info > div:first-child > :first-child {
      color: #bdbdbd;
    }

    img {
      transform: scale(1.06);
    }
  }
}

.image-wrap {
  width: 236px;
  height: 236px;
  overflow: hidden;
  border-radius: 4px;
}

.image {
  width: 236px;
  height: 236px;
  transition: all 0.1s linear;
}

.item-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 18px 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;

  color: var(--primary-color);

  & > div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 26px;
  }

  & > :last-child {
    font-family: 'SUIT-Bold';
    font-size: 18px;
    line-height: 18px;
  }
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
