.labeledInput {
  position: relative;

  label {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  .feedback {
    position: absolute;
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
}
